# ================= SERVER =================
PORT=5000
NODE_ENV=development

# ================= CLIENT =================
CLIENT_URL=http://localhost:5173

# ================= DATABASE =================
MONGO_URI=MONGO_URI=mongodb://127.0.0.1:27017/rehabtracer

# ================= JWT =================
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d

# ================= CLOUDINARY =================
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# ================= OPENAI =================
OPENAI_API_KEY=your_openai_api_key

# ================= EMAIL CONFIG =================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password

# ================= SOCKET =================
SOCKET_PORT=5000

# ================= FILE UPLOAD =================
MAX_FILE_SIZE=5242880

# ================= RATE LIMIT =================
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100